.header-mid-inp1{
	width: 75%;
	height: 34px;
	border-radius: 0%;
	margin-left: -40px;
	padding-left: 10px;
	outline: 0;
	border-color:#0AA1ED;
}

.breadcrumb-item+.breadcrumb-item::before{
	content: "|";
}