/* 引入的头部和底部样式 */
/* .my_header,.my_footer{
    width: 100%;
    border: 0;
}
*/
@media (min-width:576px){
    .f1_img{
       margin-top: -313px;
       margin-right: 20px;
    }    
    .f1_img2{
        margin-top: -160px;
        margin-right: 20px;
    }
    .f1_img3{
        margin-top: -111px;
        margin-right: 16px;
    }
}

@media (min-width:768px){
    .f1_img{
      
        margin-top: -292px;
        margin-right: 13px;
     }   
     .f1_img2{
        margin-top: -220px;
        margin-right: 5px;
    }
    .f1_img3{
        margin-top: -120px;
        margin-right: -13px;
    }
   
}
@media (min-width:992px){
    .f1_img{
       
        margin-top: -313px;
        margin-right: 20px;
     }   
     .f1_img2{
        margin-top: -160px;
        margin-right: 20px;
    }
    .f1_img3{
        margin-top: -120px;
        margin-right: 0;
    }
}


/* 轮播指示器 */
.carousel-indicators li{
width: 0.8rem;
height: 0.8rem;
border-radius: 50%;
background-color: #fff;
cursor: pointer;
}

.carousel-indicators .active {
    background-color: #0aa1ed;
}
/* 左右箭头 */
.carousel-control-next,
.carousel-control-prev {
    width: 4%;
    height: 20%;
    background-color: #aaa;
    border-radius: 0.25rem;
    top: 40%;
}
.carousel-control-next{
    right: 0.25rem;
}
.carousel-control-prev{
    left: 0.25rem;
}
/* 1F样式 */
.height_1f{
    border-bottom: 3px solid #c2bfbf;
}
/* lF主体 */
.f1_div{
    width: 35%;
}
.f1_div2{
    width: 47%;
}
.top_height{
    height: 377px;
    background-color: #e8e8e8;
}
.bottom_height{
    height: 233px;
    background-color: #e8e8e8;
}
/* 1f-1-img */
.f1_img,.f1_img2,.f1_img3{
    float: right;
    transition:transform 1s;
}
.f1_img4{
    width: 95%;
   transition:transform 1s;
}
.f1_img:hover,.f1_img2:hover,.f1_img3:hover,
.f1_img4:hover{
    transform: scale(1.1);
}
.f1_a,.f1_a2{
    width: 50%;
    height: 40px;
    background: linear-gradient(to bottom,#27b1f6 0%, #0aa1ed 100%);
    text-align: center;
    line-height: 40px;
    color: #fff;
    text-decoration: none;
    border: 0;
    outline: 0;
    border-radius: 4px;

}
.f1_a2{
    width: 45%;
    height: 28px;
    font-size: 14px;
    line-height: 28px;
}
.font_small_1f{
    font-size: 0.5rem;
}